<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Join Game</strong>
    </div>
    <div class="card-body ">
      <div class="list-group">
        <ng-container *ngFor="let game of games">
          <button
            *ngIf="game !== -1"
            type="button"
            (click)="onSelectGameToJoin(game)"
            [ngClass]="{'active' : selectedGame == game}"
            class="list-group-item list-group-item-action container-fluid"
            [@growShrinkStaticStart]="animationInitialized.toString()"
            (@growShrinkStaticStart.done)="animationInitialized = true"
          >
            <div class="row">
              <div class="col-6">
                <strong>{{game.name}}</strong>
              </div>
              <div class="col-6">
                created {{game.createdAt | timeAgo}}
              </div>
            </div>

          </button>
          <!-- visualization hack, still needed? -->
          <div [hidden]="game !== -1">
            <app-waitingdots></app-waitingdots>
          </div>
        </ng-container>
        <div *ngIf="games.length <= 0">
          <app-waitingdots></app-waitingdots>
        </div>

      </div>
    </div>
  </div>


</div>
