<br>

<div class="card">
  <div class="card-header text-center">
    <strong i18n="@@joingame.header">Join Friends Game</strong>
  </div>
  <div class="card-body">
    <app-gameslist [games]="privateFriendGames"></app-gameslist>

    <div class="alert alert-warning text-center" *ngIf="privateFriendGames && privateFriendGames.length === 0">
      <div class="alert-heading h6" i18n="@@joingame.privatefriend.nogames1">
        No private games available
      </div>
      <div i18n="@@joingame.privatefriend.nogames2">
        Create a game or wait for another player to invite you
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header text-center">
    <strong i18n="@@joingame.header">Join Public Game</strong>
  </div>
  <div class="card-body">

    <app-gameslist [games]="publicGames"></app-gameslist>

    <div class="alert alert-warning text-center" *ngIf="publicGames && publicGames.length === 0">
      <div class="alert-heading h6" i18n="@@joingame.nogames1">
        No public games available
      </div>
      <div i18n="@@joingame.nogames2">
        Create a game or wait for another player to invite you
      </div>
    </div>
  </div>
</div>
<br>