<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Join Game</h3>

      <div class="list-group">
        <div *ngFor="let game of games"
             [@growShrinkStaticStart]="animationInitialized.toString()"
             (@growShrinkStaticStart.done)="animationInitialized = true"
        >
          <button
            *ngIf="game !== -1"
            type="button"
            (click)="onSelectGameToJoin(game)"
            [ngClass]="{'active' : selectedGame == game}"
            class="list-group-item list-group-item-action"
          >
            {{game.name}}
          </button>
          <div [hidden]="game !== -1">
            NO ENTRIES
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
