<app-gameprogress parent="{{isSecondtip ? 2 : 1}}" child="{{isSecondtip ? 3 : 1}}"></app-gameprogress>
<br>

<div [hidden]="gamePlayers === undefined">

  <span class="d-none" id="yourTurn"></span>

  <app-actionguide [waitingGamePlayerNames]="[currentPlayer?.name]" *ngIf="isPlayersTurnForAuthUser === false"></app-actionguide>
  <app-tipyourturn [loggedInGamePlayer]="loggedInGamePlayer" [isSecondtip]="isSecondtip" *ngIf="isPlayersTurnForAuthUser"></app-tipyourturn>  

  <div class="card">
    <div class="card-body">
      <br>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light mb-1 py-1 text-center">
          <div class="row align-items-center">
            <div class="col-4">
              &nbsp;
            </div>
            <div class="col-4 small" i18n="@@tiptemplate.word1">
              1st word
            </div>
            <div class="col-4 small" i18n="@@tiptemplate.word2">
              <span>2nd word</span>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-1" [ngClass]="{
                'list-group-item-success' : gamePlayer.status === NEXT_STATUS,
                'disabled' : gamePlayer !== currentPlayer
                }" *ngFor="let gamePlayer of gamePlayers; index as $index">
          <div class="row">
            <div class="col-4 px-1">
              {{$index + 1}}. {{gamePlayer.name}}
            </div>
            <div class="col-4 px-1 text-center" [ngClass]="{              
              'progress-bar-striped progress-bar-animated' : !isSecondtip && gamePlayer === currentPlayer || (!isSecondtip && !gamePlayer.firstSynonym),                
              'bg-success': gamePlayer.firstSynonym,              
              'bg-primary': !isSecondtip && gamePlayer === currentPlayer
            }">
              {{gamePlayer.firstSynonym}}
            </div>
            <div class="col-4 px-1 text-center" [ngClass]="{
              'border-left' : isSecondtip,  
              'progress-bar-striped progress-bar-animated' : isSecondtip && gamePlayer === currentPlayer || (isSecondtip && !gamePlayer.secondSynonym),                
              'bg-success': isSecondtip && gamePlayer.secondSynonym,
              'bg-primary': isSecondtip && gamePlayer === currentPlayer
              }">
              {{gamePlayer.secondSynonym}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>