<app-gameprogress parent="{{isSecondtip ? 2 : 1}}" child="{{isSecondtip ? 3 : 1}}"></app-gameprogress>
<br>

<div [hidden]="gamePlayers === undefined">

  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>
  
  <app-actionguide [waitingGamePlayerNames]="[currentPlayer?.name]" *ngIf="isPlayersTurnForAuthUser === false"></app-actionguide>

  <div class="card">
    <div class="card-body">
      <div class="pt-3" #isTurn *ngIf="isPlayersTurnForAuthUser">
        <div class="row" id="yourTurn">
          <div class="col-6 offset-3 text-center">
            <h3 class="card-title" i18n="@@tiptemplate.header">
              It's your turn,
              <span class="badge badge-primary">
                      {{loggedInGamePlayer?.questionmarkOrWord === '?' ? 'Solo Agent' : 'Twin Agent'}}
              </span>
            </h3>
          </div>
          <div class="col-3 text-right">
            <img src="assets/whisper_small.jpg">
          </div>
        </div>

        <form novalidate #giveSynonymForm="ngForm">
          <div class="form-group text-left">
            <label for="synonymTxt">
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord === '?'">
                <p i18n="@@tiptemplate.hint1">
                  Try to confuse others to come up with a code word, where agents think you are a twin partner.
                </p>
              </ng-container>
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord !== '?'" i18n="@@tiptemplate.partner.hint">
                Give your {{isSecondtip ? 'second' : 'first' }} code word for
                <span class="badge badge-primary">
                    {{loggedInGamePlayer?.questionmarkOrWord}}
                  </span>
                <p>Choose a word, so that your twin partner can identify you, but other agents don't know your twin partner.</p>
              </ng-container>
            </label>
            <div>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : synonymInput?.dirty && synonymInput.errors?.required}"
                     id="synonymTxt" [(ngModel)]="synonym" #synonymInput="ngModel" name="synonym" required>
              <div *ngIf="synonymInput?.dirty && synonymInput.errors?.required" i18n="@@tiptemplate.required">
                Provide your code word
              </div>
            </div>
          </div>
          <button id="sendSynonym" class="btn btn-primary btn-block my-2" [disabled]="synonymInput.invalid" (click)="sendSynonym()"
                  i18n="@@tiptemplate.send">
            Whisper
          </button>
        </form>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item disabled">
          <div class="row text-center">
            <div class="col-4">
              &nbsp;
            </div>
            <div class="col-4 small bg-primary progress-bar-striped progress-bar-animated" i18n="@@tiptemplate.word1">
              1st word
            </div>
            <div class="col-4 small" i18n="@@tiptemplate.word2">
              2nd word
            </div>
          </div>
        </li>
        <li class="list-group-item" [ngClass]="{
                'list-group-item-success' : gamePlayer.status === NEXT_STATUS,
                'disabled' : gamePlayer !== currentPlayer
                }" *ngFor="let gamePlayer of gamePlayers">
          <div class="row">
            <div class="col-4">
              {{gamePlayer.name}}
            </div>
            <div class="col-4" >
              <span class="badge w-100" [ngClass]="{
                'bg-primary progress-bar-striped progress-bar-animated' : isSecondtip === false && gamePlayer ===  currentPlayer && show$
              }">
              &nbsp;
            </span>
              <span class="badge badge-success w-100" [hidden]="!gamePlayer.firstSynonym">
                {{gamePlayer.firstSynonym}}
              </span>
            </div>
            <div class="col-4" [ngClass]="{
                'border border-primary' : isSecondtip && gamePlayer === currentPlayer && show$
              }">
              <span class="text-center badge badge-info w-100" [hidden]="!gamePlayer.secondSynonym">
                {{gamePlayer.secondSynonym}}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <br>

  </div>
