<div>
  <div class="card">
    <div class="card-header text-center">
      <strong>Game Preparation</strong>
    </div>
    <div class="card-body">
      <div *ngIf="isRoleAssigned">
        <div *ngIf="isQuestionmark" class="text-center">
          <h2>
            You are the
            <span class="badge badge-primary">
              ?
            </span>
          </h2>
          <h4 class="my-5">
            Your task is to confuse others.
          </h4>
        </div>

        <div *ngIf="!isQuestionmark">
          <h2>
            Your word is
            <span class="badge badge-primary">
              {{this.currentGamePlayer.questionmarkOrWord}}
            </span>
          </h2>
          <h4 class="my-5">
            Your task is to confuse others.
          </h4>
        </div>

        <div>
          <div>
            <h4>Game steps</h4>
            <p>Players give</p>
            <ol>
              <li>
                <span class="badge badge-primary">
                  First
                </span> synonym for
                <span class="badge badge-primary">
                  {{this.currentGamePlayer.questionmarkOrWord}}
                </span>
              </li>
              <li>
                <span class="badge badge-primary">
                  First
                </span> team guess
              </li>
              <li>
                <span class="badge badge-primary">
                  Second
                </span>
                synonym for
                <span class="badge badge-primary">
                  {{this.currentGamePlayer.questionmarkOrWord}}
                </span>
              </li>
              <li>
                <span class="badge badge-primary">
                  Second
                </span>
                team guess
              </li>
            </ol>
          </div>
        </div>

        <div class="py-3 item-group">
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <span>Total Players</span>
            <span class="badge badge-primary badge-pill">
            {{gamePlayers?.length}}
          </span>
          </div>


          <div class="list-group-item d-flex justify-content-between align-items-center">
            <span>Questionmarks</span>
            <span class="badge badge-primary badge-pill">
            {{rolesDistributionInformation?.questionMarksNeeded}}
          </span>
          </div>


          <div class="list-group-item d-flex justify-content-between align-items-center">
            <span>Team-Players</span>
            <span class="badge badge-primary badge-pill">
            2 x {{rolesDistributionInformation?.wordsNeeded}}
          </span>
          </div>
        </div>

        <!-- https://codepen.io/ozgursagiroglu/pen/lAxIa -->
        <button class="btn btn-block"
                [ngClass]="{'btn-primary' : !hasStartedGame, 'btn-success' : hasStartedGame}"
                (click)="startGameAction()"
                [disabled]="hasStartedGame"
        >
        <span *ngIf="hasStartedGame === false">
          Ready
        </span>
          <span *ngIf="hasStartedGame">
          Waiting for others <app-waitingdots></app-waitingdots>
        </span>
        </button>

      </div>
    </div>
  </div>
