<div class="card border-dark" id="loggedinactions">
  <div class="card-header text-center">
    <h2>
      Other actions
    </h2>
    <span class="small" i18n="@@loggedinactions.loggedin">
      Logged in as
    </span>
    <strong>
      <span *ngIf="!playerProfile">
        <app-waitingdots></app-waitingdots>
      </span>
      <strong id="loggedInPlayerName" *ngIf="playerProfile">
        {{playerProfile?.name}}
      </strong>
    </strong>

  </div>
  <div class="card-body" *ngIf="!firstTimeLoggedInEver">
    <button type="button" class="btn btn-primary btn-block" routerLink="/creategame" i18n="@@loggedinactions.creategame">
      Create game
    </button>
    <button id="joingameBtn" type="button" class="btn btn-primary btn-block" routerLink="/joingame" i18n="@@loggedinactions.joinpublic">
      Join game
    </button>
    <button id="userprofile" type="button" class="btn btn-primary btn-block" href="javascript:void(0)" (click)="openUserProfile()"
      i18n="@@loggedinactions.settings">
      Settings
    </button>
    <button id="logout" type="button" class="btn btn-danger btn-block" href="javascript:void(0)" (click)="logout()" i18n="@@loggedinactions.logout">
      Logout
    </button>
  </div>
</div>