<div>
  <h3>Briefing phase</h3>
  Take a matching card from each deck and set the two cards aside. They should be identical: verify by comparing the numbers
  on the top-left corner of each card. Take a number of double agent cards (the ones with the question marks) equal to the
  number of players in the game, less two, and shuffle them together with the spy cards that were just set aside. You should
  have one card for each player in the game: Two identical spy cards, and a double agent card for each remaining player.
  Distribute one card to each player. Action phase The action phase consists of two rounds. In every round, each player,
  beginning with the start player, will say a word. It is this word that the spies will try to recognize, and the double
  agents will try to bluff. You can say any word (regardless of how silly) including proper nouns or conjugated verbs, but
  you may not say the code word itself, or any word that contains it. In the second round, each player must repeat the word
  he said in the first round, and then say a second word
</div>


<div class="py-5 item-group">
  <div class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      Total Players
    </span>
    <span class="badge badge-primary badge-pill">
      total
    </span>
  </div>

  <div class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      Team-Players
    </span>
    <span class="badge badge-primary badge-pill">
      2 x words
    </span>
  </div>

  <div class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      Questionmarks
    </span>
    <span class="badge badge-primary badge-pill">
      questionmark
    </span>
  </div>
</div>