<div class="modal-header text-center">
  <h2 class="modal-title" i18n="@@gamerules.title">
    Game explained
  </h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <app-gameprogress parent="{{currentRulePosition<= 1 ? 0 : currentRulePosition/2}}" child="{{currentRulePosition}}"></app-gameprogress>

  <div class="py-3 d-flex">
    <a href="javascript:void(0)" (click)="showDetails=!showDetails">
      <i class="material-icons align-top">
        check_box{{showDetails ? '' : '_outline_blank'}}
      </i>
    </a>
    <span i18n="@@gamerules.detailed">
      Detailed
    </span>


    <div class="px-4">
      <a href="javascript:void(0)" (click)="currentRulePosition=currentRulePosition-1">
        <i class="material-icons">
          skip_previous
        </i>
      </a>
      <span class="align-top">
        Navigate
      </span>
      <a href="javascript:void(0)" (click)="currentRulePosition=currentRulePosition+1">
        <i class="material-icons">
          skip_next
        </i>
      </a>
    </div>
    <div>&nbsp;</div>
  </div>

  <app-basicrules [showDetails]="showDetails" [hidden]="currentRulePosition !== 0"></app-basicrules>
  <app-gamelobbyrules [hidden]="currentRulePosition !== 1"></app-gamelobbyrules>
</div>

