<div class="modal-header text-center">
  <h2 class="modal-title" i18n="@@gamerules.title">
    Game explained
  </h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <app-gameprogress parent="{{currentGameStatusPositions.gameprogress.parent}}" child="{{currentGameStatusPositions.gameprogress.child}}">
  </app-gameprogress>

  <div class="pt-3 pb-2 d-flex">
    <span class="fill-primary align-top" (click)="showDetails=!showDetails">
      <span [hidden]="showDetails">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </span>
      <span [hidden]="!showDetails">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
          />
        </svg>
      </span>

    </span>
    <span i18n="@@gamerules.detailed">
      Detailed
    </span>

    <div class="px-4">
      <span class="text-primary" (click)="prevRulesPos()">
        <i class="material-icons">
          skip_previous
        </i>
      </span>
      <span class="align-top">
        {{currentRulePosition + 1}}/{{currentGameStatusConfig.length}}
      </span>
      <span class="text-primary" (click)="nextRulesPos()">
        <i class="material-icons">
          skip_next
        </i>
      </span>
    </div>
    <div>&nbsp;</div>
  </div>

  <app-basicrules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'welcome'"></app-basicrules>
  <app-gamelobbyrules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'gamelobby'"></app-gamelobbyrules>
  <app-firsttiprules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'firsttip'"></app-firsttiprules>
  <app-firstguessrules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'firstguess'"></app-firstguessrules>
  <app-secondtiprules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'secondtip'"></app-secondtiprules>
  <app-secondguessrules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'secondguess'"></app-secondguessrules>
  <app-evaluationrules [showDetails]="showDetails" [hidden]="currentGameStatusPositions.status !== 'evaluation'"></app-evaluationrules>

</div>