<br>
<div class="card">
  <div class="card-header text-center h2">
    Friends from games
  </div>
  <div class="card-body">
    <div class="list-group">
      <ng-container *ngFor="let game of activePlayerGames">
        <button class="list-group-item list-group-item-action list-group-item-primary mt-2" (click)="showFriends(game.name)">
          <svg-icon src="sync" class="svg-small fill-white align-bottom pr-2"></svg-icon>
          <span class="align-bottom">{{game.name}}</span>
        </button>
        <div class="list-group ml-5" *ngIf="activePlayerName === game.name">
          <button class="list-group-item list-group-item-action list-group-item-primary mt-1" id="friend_{{friend.name}}" (click)="onFriendSelection(friend);"
            *ngFor="let friend of friendList">
            <svg-icon src="person_add" class="svg-small fill-white align-bottom pr-1"></svg-icon>
            <span class="align-bottom">
              {{friend.name}}
            </span>
          </button>
          <div class="list-group-item bg-secondary border border-info my-1 text-center" [hidden]="friendList === null || friendList.length > 0">
              <svg-icon src="person_add_disabled" class="svg-small fill-white d-block"></svg-icon>
            Game players already in friend list
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
<br>