<div>
  <form>
    <div class="form-group">
      <!-- TODO -->
      <label for="userProfileEmail" class="col-form-label">Email</label>
      <input type="email" class="form-control" id="userProfileEmail" name="userProfileEmail"
             [(ngModel)]="userProfileEmail"
      >
    </div>
    <div class="form-group">
      <label for="userProfilePassword">Password</label>
      <input type="password" class="form-control" id="userProfilePassword" name="userProfilePassword"
             [(ngModel)]="userProfilePassword">
    </div>
    <div class="d-flex align-items-end flex-column">
      <button id="loginButtonByEmail" type="submit" class="btn btn-primary btn-block"
              (click)="login(userProfileEmail, userProfilePassword)">Login
      </button>
    </div>
  </form>
</div>
