<div class="card">
  <div class="card-header">
    <strong>Create New Game</strong>
  </div>
  <div class="card-body">
    <form #createGameForm="ngForm">
      <div class="form-group"> <!-- has-danger  -->
        <label for="gamename">
          Game Name
        </label>
        <div>
          <input
            id="gamename"
            type="text"
            class="form-control form-control-danger"
            (focus)="$event.target.select()"
            name="gameName"
            #gameNames
            [(ngModel)]="gameName"
            required
          />
          <!--
          <div class="form-control-feedback">Sorry, that gamename is taken. Try another?</div>

          <small class="form-text text-muted">Example help text that remains unchanged.</small>
          -->
        </div>
      </div>

      <div class="form-group">
        <label for="language">Language</label>
        <select class="form-control" id="language"
                name="language"
                #language$
                [(ngModel)]="language"
        >
          <option selected value="en">English</option>
        </select>
      </div>

      <div class="form-group">
        <button id="createGameButton"
                class="btn btn-primary btn-block"
                [disabled]="!createGameForm.form.valid"
                (click)="createGameAction()"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
