<div [hidden]="gamePlayers === undefined">

  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>

  <div class="card mb-4" *ngIf="isPlayersTurnForAuthUser === false">
        <!--
    <div class="card-header text-center">
      <strong>Gameprocess</strong>
    </div>
    -->

    <div class="card-body text-center">
      <h4 class="card-title">
        You are <span class="badge badge-primary" id="isRoleAssigned">{{loggedInGamePlayer?.questionmarkOrWord}}</span>        
      </h4>
      Waiting for {{currentPlayer?.name}} to give first assoziation        
    </div>
  </div>

  <div class="card mb-4" id="yourTurn" *ngIf="isPlayersTurnForAuthUser === true">
    <div class="card-header text-center">
      <strong>First Synonym</strong>
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">
        It's your turn!
      </h4>
      <div class="card-text">
        <form novalidate #giveSynonymForm="ngForm">
          <div class="form-group">
            <label for="synonymTxt">
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord === '?'">
                <span class="badge badge-primary">
                  ?
                </span>
                Try to give a word, where people think you are partner of another one.
              </ng-container>
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord !== '?'">
                Give first synonym for
                <span class="badge badge-primary" id="isRoleAssigned">
                  {{loggedInGamePlayer?.questionmarkOrWord}}
                </span>
              </ng-container>
            </label>
            <div>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'is-invalid' : synonymInput?.dirty && synonymInput.errors?.required}"
                     id="synonymTxt"
                     [(ngModel)]="synonym"
                     #synonymInput="ngModel"
                     name="synonym"
                     required
              >
              <div *ngIf="synonymInput?.dirty && synonymInput.errors?.required">
                Provide your synonym
              </div>
            </div>
          </div>
          <button id="sendSynonym"
                  class="btn btn-primary btn-block"
                  [disabled]="synonymInput.invalid"
                  (click)="sendSynonym()"
          >
            Send
          </button>
          <div class="py-2">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list list-group-item-light d-flex">
          <span>Player Name</span>
          <span class="ml-auto">Given Synonym</span>
        </li>
        <li class="list-group-item list d-flex"
            [ngClass]="{
              'list-group-item-action active' : gamePlayer === currentPlayer && show$,
              'list-group-item-success' : gamePlayer.status === NEXT_STATUS
              }"
            *ngFor="let gamePlayer of gamePlayers"
        >
          <span [hidden]="true" id="{{gamePlayer.name}}_status">{{gamePlayer.status}}</span>
          <span>
            {{gamePlayer.name}}
          </span>                    
          <span class="pl-5 badge badge-info ml-auto" [hidden]="!gamePlayer.firstSynonym">
              {{gamePlayer.firstSynonym}}
            </span>
            <span class="badge badge-warning ml-auto" [hidden]="gamePlayer.firstSynonym || gamePlayer === currentPlayer">
              to be given after
            </span>
            <span class="badge badge-danger ml-auto" [hidden]="gamePlayer.firstSynonym || gamePlayer !== currentPlayer">
              to be given next
            </span>         
        </li>
      </ul>
    </div>
  </div>

</div>
