<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Give your first tip
        </h4>
        <form novalidate #giveSynonymForm="ngForm">
          <div class="form-group"
          >
            <label for="synonym">Give your first synonym</label>
            <div>
              <input type="text"
                     class="form-control"
                     id="synonym"
                     [(ngModel)]="synonym"
                     #synonymInput="ngModel"
                     name="synonym"
                     required
              >
              <div *ngIf="synonymInput?.dirty && synonymInput.errors?.required">
                must not be empty
              </div>
            </div>
          </div>
          <button class="btn btn-warning"
                  [disabled]="synonymInput.invalid"
                  (click)="sendSynonym()"
          >Send
          </button>
          <div class="py-2">
          <ngb-alert>
            Its your turn!
          </ngb-alert>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Status of players <app-waitingdots></app-waitingdots>
        </h4>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"
              *ngFor="let gamePlayerKey of gamePlayerKeys"
          >{{$index}} {{gamePlayers[gamePlayerKey].name}} - {{gamePlayers[gamePlayerKey].status}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
