<nav class="navbar navbar-dark bg-primary navbar-expand-lg navbar-dark bg-dark">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <a class="navbar-brand" href="#">
      <img src="assets/spy_icon.svg" style="width:2.5rem">
      <strong>LINP</strong>
      <span>Identify spies</span>
    </a>
    <!--
    <ngb-alert [type]="'warning'" *ngIf="isUserAuthOfflane" (click)="isUserAuthOfflane=!isUserAuthOfflane">
      You are offlane
    </ngb-alert>
    -->
<!--
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
-->
    <div class="collapse navbar-collapse text-center" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent" *ngIf="isDevelopmentEnv">
      <ul class="navbar-nav mr-auto" (click)="isMenuCollapsed=!isMenuCollapsed">
        <li class="nav-item">
          <a id="welcome" class="nav-link" routerLink="/welcome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/createaccount">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/playerprofile">Player Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/gamerules">Game Rules</a>
        </li>
        <li class="nav-item">
          <a id="joingame" class="nav-link" style="color: black" routerLink="/joingame">Join Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/creategame">Create Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/gamelobby/{{gameName}}">Gamelobby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/preparegame/{{gameName}}">Prepare Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/firsttip/{{gameName}}">First Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/firstguess/{{gameName}}">First Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/secondtip/{{gameName}}">Second Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/secondguess/{{gameName}}">Second Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/evaluation/{{gameName}}">Evaluation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/finalizeround/{{gameName}}">Finalize Round</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/createword/">Create Word</a>
        </li>
        <li class="nav-item">
          <a id="simulation" class="nav-link" style="color: black" routerLink="/simulation">Simulation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>