<nav class="navbar navbar-dark bg-dark navbar-dark">
  <div class="align-middle">
    <svg-icon src="spy_header" class="fill-primary svg-small align-top" style="width:1.8rem" [hidden]="[null, true].includes(showBackLink)"></svg-icon>
    <a routerLink="/welcome" [hidden]="showBackLink === false">
      <svg-icon src="home" class="svg-small align-bottom" [ngClass]="showBackLink ? 'fill-primary' : 'fill-secondary'"></svg-icon>
    </a>
    
    <a class="pl-1" routerLink="/evaluation/{{gameName}}" [hidden]="showBackLink === false">
      <svg-icon src="bar_chart" class="svg-small align-bottom" [ngClass]="showBackLink ? 'fill-primary' : 'fill-secondary'"></svg-icon>
      </a>
    </div>
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <a class="navbar-brand" routerLink="/welcome">          
      <strong i18n="@@header.title" > LINP</strong>
      <span i18n="@@header.subtitle" [hidden]="[null, true].includes(showBackLink)"> Identify spies</span>
    </a>
    <!--
    <ngb-alert [type]="'warning'" *ngIf="isUserAuthOfflane" (click)="isUserAuthOfflane=!isUserAuthOfflane">
      You are offlane
    </ngb-alert>
    -->
    <div class="collapse navbar-collapse text-center" [ngbCollapse]="true" id="navbarSupportedContent" *ngIf="isDevelopmentEnv">
      <ul class="navbar-nav mr-auto flex-row" (click)="isMenuCollapsed=!isMenuCollapsed">
        <li class="nav-item">
          <a id="welcome" class="nav-link" style="color: #4e5d6c" routerLink="/welcome">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/createaccount">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/playerprofile">Player Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/gamerules">Game Rules</a>
        </li>
        <li class="nav-item">
          <a id="joingame" class="nav-link" style="color: #4e5d6c" routerLink="/joingame">Join Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/creategame">Create Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/gamelobby/{{gameName}}">Gamelobby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/preparegame/{{gameName}}">Prepare Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/firsttip/{{gameName}}">First Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/firstguess/{{gameName}}">First Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/secondtip/{{gameName}}">Second Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/secondguess/{{gameName}}">Second Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/evaluation/{{gameName}}">Evaluation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/finalizeround/{{gameName}}">Finalize Round</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4e5d6c" routerLink="/createword/">Create Word</a>
        </li>
        <li class="nav-item">
          <a id="simulation" class="nav-link" style="color: #4e5d6c" routerLink="/simulation">Simulation</a>
        </li>
      </ul>
    </div>
  </div>

  <span>

    <ng-template #helpPopoverContent>
      <p>
        Open the help during the game to inform you about current gameplay.
      </p>
      <button class="btn btn-primary btn-block" (click)="gotHelpPopover()">
        Check out
      </button>
    </ng-template>
    <span class="fill-primary text-bottom" (click)="openHelp()" [ngbPopover]="helpPopoverContent" #helpPopRef="ngbPopover" triggers="manual"
          popoverTitle="Game Explanation"
          placement="bottom-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path
            d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/>
      </svg>
    </span>
  </span>
</nav>

