<br>
<div class="card">
  <div class="card-header">
    <strong i18n="@@playerprofile.header">Player profile</strong>
  </div>
  <div class="card-body">
    <div class="form-group" [ngClass]="{'has-success' : successfulSavedPlayername}">
      <label for="playername" i18n="@@playerprofile.playername">
        Nickname
      </label>
      <input id="playername" type="text" class="form-control" [ngClass]="{'form-control-success' : successfulSavedPlayername}"
             name="playerName" [(ngModel)]="playerName" #playerNameInput="ngModel" (ngModelChange)="playerName" required value="user.displayName"
      />
    </div>
    <button (click)="updateOrCreateAccountAction()" class="btn btn-primary btn-block" id="savePlayerName"
            [ngClass]="[!successfulSavedPlayername ? 'btn-primary' : 'btn-success']"
            [disabled]="!playerNameInput.valid || successfulSavedPlayername" i18n="@@playerprofile.savebutton">
      Submit
    </button>
  </div>
</div>
