<app-gameprogress parent="3" child="5"></app-gameprogress>

<div [hidden]="gamePlayers === undefined">

  <br>

  <div class="card border-dark">
    <div class="card-body">
      <button id="startNextRound" class="btn btn-primary btn-block my-3" (click)="startNextRound()">
        Next
      </button>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-header text-center">
      <strong>Game Summary</strong>
    </div>
    <div class="card-body">
      <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>

      <ul class="list-group list-group-flush">
        <li class="list-group-item disabled text-muted d-flex justify-content-between align-items-center">
          <span>
            Rank
          </span>
          <span>
            Player
          </span>
          <span>
            Points
          </span>
        </li>

        <li class="list-group-item h5" *ngFor="let score of scores; let $index=index;">
          <div class="row">

            <div class="col-2">
              <span class="badge badge-warning">
                {{score.ranking}}
              </span>
            </div>
            <div class="col-8 text-center">
              {{score.name}}
            </div>
            <div class="col-2 text-right">
              <span class="badge badge-pill" [ngClass]="{'badge-success' : score.points > 0,
                    'badge-primary' : score.points === 0,
                    'badge-danger' : score.points < 0}">
                {{score.points}}
              </span>
            </div>
          </div>
        </li>
      </ul>

      
    </div>
  </div>

  <br>

  <div class="card">
      <div class="card-header">
        <strong>Waiting for players</strong>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li id="status_{{gamePlayer.name}}" class="list-group-item" [ngClass]="{
                  'list-group-item-action active' :
                    gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION && isBlinkTickerShown$,
                    'list-group-item-success' : gamePlayer.status === NEXT_PLAYER_STATUS
                  }" *ngFor="let gamePlayer of gamePlayers">
            {{gamePlayer.name}}
            <app-waitingdots *ngIf="gamePlayer.status !== NEXT_PLAYER_STATUS"></app-waitingdots>
        </ul>
      </div>
    </div>

    <br>

</div>