<p>


  <button class="btn btn-primary"
          (click)="createForEvaluation()">Create for evaluation</button>


  <button class="btn btn-primary"
          (click)="createUserNames()">Create User names</button>


  <button class="btn btn-primary"
          (click)="createGameWithUsers()">Create Game with Users</button>


  <button class="btn btn-primary"
          (click)="updateSinglePlayerScore()">Update single player score</button>

  <button class="btn btn-primary"
          (click)="addInitialWords()">Add initial words
  </button>


</p>
