<div>

  <div class="py-5">
    Gamename: {{gameName}}
    <div>
      <input id="gameName" type="text" class="form-control" [(ngModel)]="gameName"/>
    </div>
  </div>


  <button class="btn btn-primary btn-block"
          id="createForSecondSynonym"
          (click)="createForSecondSynonym()">
    Create for secondTip
  </button>
  <div id="createForSecondSynonymResponseAllFlag"
       class="alert alert-success" role="alert"
       *ngIf="createForSecondSynonymResponseCountPlayersCount !== 0 && createForSecondSynonymResponseCountPlayersCount === createForSecondSynonymResponseCount"
  >
    successful setup data second synonym data
  </div>


  <button class="btn btn-primary btn-block"
          id="createForFirstGuessGame"
          (click)="createForFirstGuessGame()">
    Create for firstguess
  </button>
  <div id="createForFirstGuessGameResponseAllFlag"
       class="alert alert-success" role="alert"
       *ngIf="createForFirstGuessGameResponseCountPlayersCount !== 0 && createForFirstGuessGameResponseCountPlayersCount === createForFirstGuessGameResponseCount"
  >
    successful setup data
  </div>

  <button class="btn btn-primary btn-block"
          id="createForSecondGuessGame"
          (click)="createForSecondGuessGame()">
    Create for secondguess
  </button>
  <div id="createForSecondGuessGameResponseAllFlag"
       class="alert alert-success" role="alert"
       *ngIf="createForSecondGuessGameResponseCountPlayersCount !== 0 && createForSecondGuessGameResponseCountPlayersCount === createForSecondGuessGameResponseCount"
  >
    successful setup data
  </div>

  <button id="deleteBtn" type="button" class="btn btn-primary btn-block" (click)="deleteGame()">
    Delete Game
  </button>
  <div id="deletedGameFlag" *ngIf="deletedGameFlag" class="alert alert-success" role="alert">
    Game was successful deleted
  </div>

  <div id="createForPrepareGameResponseAllFlag"
       class="alert alert-success" role="alert"
       *ngIf="createForPrepareGameResponseCountPlayersCount !== 0 && createForPrepareGameResponseCountPlayersCount === createForPrepareGameResponseCount">
    Sucessful setup all data
  </div>

  <button class="btn btn-primary btn-block"
          id="createForPrepareGame"
          (click)="createForPrepareGame()">Create for preparegame
  </button>


  <div id="createForEvaluationResponseAllFlag"
       class="alert alert-success" role="alert"
       *ngIf="createForEvaluationResponseCountPlayersCount !== 0 && createForEvaluationResponseCountPlayersCount === createForEvaluationResponseCount">
    Sucessful setup all data
  </div>
  <button id="createForEvaluation"
          class="btn btn-primary btn-block"
          (click)="createForEvaluation()">Create for evaluation
  </button>

  <button class="btn btn-primary btn-block"
          (click)="updateSinglePlayerScore()">Update single player score
  </button>

  <button class="btn btn-primary btn-block"
          (click)="addInitialWords()">Add initial words
  </button>

  <button class="btn btn-primary btn-block"
          (click)="testQuery()">testQuery
  </button>


  <span *ngIf="queryResults | async; let queryResults; else false">
    <ul>
      <li *ngFor="let item of queryResults">
        {{ item | json }}
      </li>
    </ul>
    <div *ngIf="queryResults.length === 0">No results, try clearing filters</div>
  </span>
</div>
