<p>

  <button class="btn btn-primary btn-block"
          (click)="createForEvaluation()">Create for evaluation</button>


  <button class="btn btn-primary btn-block"
          (click)="createUserNames()">Create User names</button>


  <button class="btn btn-primary btn-block"
          (click)="createGameWithUsers()">Create Game with Users</button>


  <button class="btn btn-primary btn-block"
          (click)="updateSinglePlayerScore()">Update single player score</button>

  <button class="btn btn-primary btn-block"
          (click)="addInitialWords()">Add initial words
  </button>

  <button class="btn btn-primary btn-block"
          (click)="testQuery()">testQuery
  </button>


  <span *ngIf="queryResults | async; let queryResults; else loading">
  <ul>
    <li *ngFor="let item of queryResults">
      {{ item | json }}
    </li>
  </ul>
  <div *ngIf="queryResults.length === 0">No results, try clearing filters</div>
</span>
</p>
