<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Join Game</h3>
        <div class="form-group">
          <div class="input-group">
            <input type="text" [(ngModel)]="gameFilter" (input)="resetFilterResults()" class="form-control"
                   placeholder="Game Name" value="">
            <span class="input-group-addon">
        <svg style="height:15px;width:15px"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#search">&nbsp;</use></svg>
      </span>
          </div>
        </div>

        <div class="list-group">
          <div *ngFor="let game of games | searchfilter: 'name' : gameFilter | slice:currentPage*2-2:currentPage*2">
            <button
              *ngIf="game !== -1"
              type="button"
              (click)="onSelect(game)"
              [ngClass]="{'active' : selectedGame === game}"
              class="list-group-item list-group-item-action"
            >
              {{game.name}}
            </button>
            <div [hidden]="game !== -1">
              NO ENTRIES
            </div>
          </div>
        </div>
          <pagination [totalItems]="games.length"
                    itemsPerPage="2"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"
                    class="pagination-sm"
        >
        </pagination>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Create New Game</h3>
        <div class="form-group row">
          <label for="playername" class="col-3 col-form-label">Player Name</label>
          <div class="col-9">
            <input
              id="playername"
              type="text"
              class="form-control"
              placeholder="Player Name"
              [(ngModel)]="playerName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="gamename" class="col-3 col-form-label">Game Name</label>
          <div class="col-9">
            <input
              id="gamename"
              type="text"
              class="form-control"
              placeholder="Name of Game"
              value="{{playerName}}"
              (focus)="$event.target.select()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
