<div class="container">
  <div class="card-deck">
    <div class="card">
      <div>

        <div *ngIf="authUser; then isLoggedIn else isNotLoggedIn"></div>
        <ng-template #isNotLoggedIn>
          <div class="card-title">
          </div>
          <div class="card-body">
            <button class="btn btn-primary" class="btn btn-primary" (click)="loginByGoogle()">
              Login by Google
            </button>
            <button class="btn btn-primary" class="btn btn-secondary" (click)="loginAnonymous()">
              Login anonymous
            </button>
            <button class="btn btn-primary" class="btn btn-secondary" (click)="loginEmailPassword(content)">
              Login with Email
            </button>
          </div>
        </ng-template>

        <ng-template #isLoggedIn>
          <div class="card-header">
            <div class="small">
              Logged in as:
            </div>
            <strong>
              <fade [out]="false" [(isVisible)]="playerProfile">
                {{playerProfile?.name}}
                <a href="javascript:void(0)">
                  <i class="material-icons md-18 align-top text-danger" (click)="logout()">no_encryption</i>
                </a>
              </fade>
              <div *ngIf="!playerProfile">
                <app-waitingdots></app-waitingdots>
              </div>
            </strong>
          </div>

          <div class="card-body" *ngIf="!firstTimeLoggedInEver">
            <button
              type="button"
              class="btn btn-primary btn-block"
              routerLink="/joingame">
              Join Game
            </button>
            <button
              type="button"
              class="btn btn-primary btn-block"
              routerLink="/creategame">
              Create Game
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
