<div class="text-white">  
  <div class="card border-dark mt-1" style="width: 108%; right: 4%;">
    <div class="card-body">
      <div class="card-text">
        Two spies have to meet each other.
        <br> All they have in common is a password.
        <br> All the others players are counterspies trying to identify and confuse them.
        <br>
      </div>
      <div class="text-right">
        <a routerLink="/gamerules" class="card-link" routerLinkActive="active">more...</a>
      </div>
    </div>
  </div>

  <div *ngIf="authUser; then isLoggedIn else isNotLoggedIn">
  </div>

  <ng-template #isNotLoggedIn>
    <div class="card">
      <div class="card-header">
        <strong i18n="@@loginHeader">Login</strong>
      </div>
      <div class="card-body">
        <firebase-ui></firebase-ui>
      </div>
    </div>
  </ng-template>

  <ng-template #isLoggedIn>
    <app-maintenance></app-maintenance>
    <br>
    <app-activegames></app-activegames>
    <br>
    <app-friendlist></app-friendlist>
    <br>
    <app-loggedinactions></app-loggedinactions>
  </ng-template>

</div>