<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      waiting for players to join
      <app-waitingdots></app-waitingdots>
    </h4>
    <div class="card-text">

      <div class="py-3">

        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Wait for Game master to start game
        </ngb-alert>

        <button (click)="prepareGame()"
                class="btn btn-block"
                [ngClass]="gamePlayers.length < 4 ? 'btn-warning' : 'btn-primary'"
                [disabled]="gamePlayers.length < 4"
        >
          <span *ngIf="gamePlayers.length < 4">
            at least {{4 - gamePlayers.length}} players missing
          </span>
          <span *ngIf="gamePlayers.length > 3">
            Start Game
          </span>
        </button>

        <div class="share-container">
          <div class="share-count">
            <h3>Send</h3>
            <b>Invitation</b>
          </div>
          <share-buttons [theme]="'default'"
                         [include]="['facebook','twitter','linkedin','google','whatsapp','email','copy']"
                         [show]="10"
                         [size]="1"
          ></share-buttons>
        </div>
      </div>

      <div class="list-group">
        <div *ngFor="let gamePlayer of gamePlayers">
          <div class="list-group-item"
          >{{gamePlayer.name}}
          </div>
        </div>

        <button
          type="button"
          class="list-group-item list-group-item-action"
        >
          <app-waitingdots></app-waitingdots>
        </button>
      </div>
    </div>
  </div>
</div>
