<div class="card border-dark">
  <div class="card-header text-center">
    <strong i18n="@@activegames.header">Your active games</strong>
  </div>
  <div class="card-body">
    <div class="list-group">
      <ng-container *ngFor="let game of games">
        <button id="gamename_{{game.name}}" class="list-group-item list-group-item-action my-1" role="button" *ngIf="game !== -1" (click)="onSelectGameToJoin(game)" 
          [ngClass]="{'list-group-item-primary' : game.isActionRequired, 'list-group-item-light' : !game.isActionRequired}">
          <div class="row">
            <div class="col-8">
              {{game.name}}
            </div>
            <div class="col-4 text-right" id="{{game.name}}_actionRequired" *ngIf="game.isActionRequired === true" i18n="@@activegames.actionrequired">
            
            </div>
            <div class="col-4 text-right" id="{{game.name}}_noActionRequired" *ngIf="game.isActionRequired === false">
          
            </div>
          </div>
        </button>
      </ng-container>
      <div *ngIf="games === null">
        <app-waitingdots></app-waitingdots>
      </div>
      <div *ngIf="games !== null && games.length === 0">
        <div class="alert alert-warning text-center">
          <div class="alert-heading h6">
            There are no active games yet.
          </div>
          <div>
            Wait for a friend to invite you
          </div>
          <div>
            or create new game.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>