<app-gameprogress parent="1" child="2"></app-gameprogress>
<br>

<div [hidden]="gamePlayers === undefined">
  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>

  <div class="card pb-3" [hidden]="isloggedInPlayerDidGuess === false">
    <div class="card-body">
      <div class="alert alert-success">
        <div class="row">
          <div class="col-12 text-center">
            <i class="material-icons">
              check_circle_outline
            </i>
          </div>
          <div class="col-8">
            <strong>Waiting for</strong>
            <ng-container *ngFor="let gamePlayer of gamePlayers; last as isLast">
              <strong class="strong" *ngIf="gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION">
                {{gamePlayer.name}}
                <span *ngIf="!isLast">,</span>
              </strong>
            </ng-container>
          </div>
          <div class="col-4 text-right">
            <img src="assets/agent_small.jpg">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card pb-3" [hidden]="isloggedInPlayerDidGuess === true">
    <div class="card-header">
      Who might be teaming up and having the same word/role?
    </div>
    <div class="card-body">
      <div class="card-subtitle my-4 text-muted text-center">
        <div class="mt-3">This is yours:</div>
        <div class="badge badge-info">{{loggedInGamePlayer?.questionmarkOrWord}}</div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">
        Make sure prioritizing to guess you and your partner as team.
      </h6>

      <div class="card-text py-2 h6 text-center">
        <span *ngIf="selectedGamePlayers.length === 0">
          Select first player
        </span>
        <span *ngIf="selectedGamePlayers.length === 1">
          Select the second player
        </span>
        <span *ngIf="selectedGamePlayers.length === 2">
          Want to save choice?
        </span>
      </div>

      <div class="list-group">
        <div class="list-group-item list-group-item-light list-group-item-action">
          <div class="row text-center">
            <div class="col-4 small">
              &nbsp;
            </div>
            <div class="col-4 small">
              1 Pass
            </div>
            <div class="col-4 small">
              2 Pass
            </div>
          </div>
        </div>
        <button id="guess_{{gamePlayer.name}}" *ngFor="let gamePlayer of gamePlayers" class="list-group-item" [ngClass]="{
                    'active' : selectedGamePlayers.indexOf(gamePlayer) !== -1,
                    'list-group-item-action' : selectedGamePlayers.length <= 2,
                    
                    'disabled' : (this.playerUidToDisableForSelection === gamePlayer.uid || selectedGamePlayers.length >= 2)
                  }" (click)="onTeamPlayerGuessSelected(gamePlayer)">

          <div class="row">
            <div class="col-4">
              <span>
                {{gamePlayer.name}}
              </span>
            </div>
            <div class="col-4">
              <span class="badge badge-info w-100">{{gamePlayer.firstSynonym}}</span>
            </div>
            <div class="col-4">
              <span class="badge badge-info w-100">{{gamePlayer.secondSynonym}}</span>
            </div>
          </div>

        </button>
      </div>

      <button id="saveGuessBtn" class="card-link btn btn-block btn-success mt-3" [disabled]="selectedGamePlayers.length < 2" (click)="saveTeamTip()">
        Save
      </button>
    </div>
  </div>

</div>