<app-gameprogress parent="{{isSecondGuess ? 2 : 1}}" child="{{isSecondGuess ? 4 : 2}}"></app-gameprogress>
<br>

<div [hidden]="gamePlayers === undefined">
  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>

  <app-actionguide [waitingGamePlayerNames]="waitingGamePlayerNames" [hidden]="isloggedInPlayerDidGuess === false"></app-actionguide>

  <div class="card pb-3" [hidden]="isloggedInPlayerDidGuess === true">
    <div class="card-body">
      
      <app-rolekey [gamePlayer]="loggedInGamePlayer"></app-rolekey>

      <div class="pt-4 text-center">
        Who might be Twin Agents?
      </div>

      <div class="card-text py-3 h3 text-center border border-info" [hidden]="loggedInGamePlayer?.questionmarkOrWord === '?' || selectedGamePlayers.length !== 2 || (selectedGamePlayers[0].uid === loggedInGamePlayer.uid) || (selectedGamePlayers[1].uid === loggedInGamePlayer.uid) ">
        Sure to take risk not guess on you and Twin Agent?
      </div>

      <button id="saveGuessBtn" class="card-link btn btn-block btn-success my-2" [disabled]="selectedGamePlayers.length < 2" (click)="saveTeamTip()"
        i18n="@@guesstemplate.savebutton">
        Save
      </button>

      <div class="list-group">
        <div class="list-group-item list-group-item-light mb-1 py-1 text-center">
          <div class="row align-items-center">
            <div class="col-4 small text-secondary">
              &nbsp;
            </div>
            <div class="col-4 small" i18n="@@guesstemplate.word1">
              1st
            </div>
            <div class="col-4 small" i18n="@@guesstemplate.word2">
              2nd
            </div>
          </div>
        </div>
        <button id="guess_{{gamePlayer.name}}" *ngFor="let gamePlayer of gamePlayers; index as $index; " class="list-group-item mt-1"
          [ngClass]="{
                    'active' : selectedGamePlayers.indexOf(gamePlayer) !== -1,
                    'list-group-item-action' : selectedGamePlayers.length <= 2,
                    'bg-halfheight' : isSecondGuess && selectedGamePlayers.indexOf(gamePlayer) === -1 && (loggedInGamePlayer.firstTeamTip.firstPartner.uid === gamePlayer.uid || loggedInGamePlayer.firstTeamTip.secondPartner.uid === gamePlayer.uid),
                    'disabled' : (this.playerUidToDisableForSelection === gamePlayer.uid || selectedGamePlayers.length >= 2) || (loggedInGamePlayer.questionmarkOrWord === '?' && gamePlayer.uid === loggedInGamePlayer.uid)
                  }" (click)="onTeamPlayerGuessSelected(gamePlayer)">
          <div class="row small align-self-center" placement="top" ngbTooltip="You can't select exact same twin partners than in 1st guess"
            [disableTooltip]="playerUidToDisableForSelection !== gamePlayer.uid || selectedGamePlayers.length > 2">
            <div class="col-4 px-1 text-dark">
              {{$index + 1}}. {{gamePlayer.name}}
            </div>
            <div class="col-4 px-1">
              {{gamePlayer.firstSynonym}}
            </div>
            <div class="col-4 px-1">
              <!-- [ngClass]="{
              'bg-info border-left' : isSecondGuess
            }"-->
              {{gamePlayer.secondSynonym}}
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<br>