<div class="row">
  <div class="col-md-6" *ngIf="isloggedInPlayerGivenSynonym === false">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span>Who?</span>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">Guess who is in a team</h6>
        <div class="list-group">
          <button class="list-group-item list-group-item-secondary list-group-item-action">
            Name | <strong>1. Synonym</strong> | <strong>2. Synonym</strong>
          </button>
          <button *ngFor="let gamePlayer of gamePlayers"
                  (click)="onTeamPlayerGuessSelected(gamePlayer)"
                  class="list-group-item list-group-item-action"
                  [ngClass]="{'active' : selectedGamePlayers.indexOf(gamePlayer) !== -1}"
          >
            {{gamePlayer.name}} | <strong>{{gamePlayer.firstSynonym}}</strong> |
            <strong>{{gamePlayer.secondSynonym}}</strong>
          </button>
        </div>

        <div class="card-text" *ngIf="selectedGamePlayers.length === 0">
          Start to select a player
        </div>
        <div class="card-text" *ngIf="selectedGamePlayers.length === 1">
          Select the second player
        </div>
        <div class="card-text" *ngIf="selectedGamePlayers.length === 2">
          Are you sure these players belong to each other?
        </div>
        <button class="card-link btn btn-block btn-success"
                [disabled]="selectedGamePlayers.length < 2"
                (click)="saveTeamTip()"
        >
          Send
        </button>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{
      'col-md-6' : isloggedInPlayerGivenSynonym === false,
      'col-md-12' : isloggedInPlayerGivenSynonym
      }"
  >
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>Status of players</h4>
        </div>

        <!-- this is dirty, we need a hoverable-responsive table with only one *ngFor
        https://v4-alpha.getbootstrap.com/content/tables/#hoverable-rows -->

        <ul class="list-group">
          <li class="list-group-item"
              [ngClass]="{
              'list-group-item-action active' :
                gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION && isBlinkTickerShown$,
                'list-group-item-secondary' : gamePlayer.status === PLAYER_STATUS_AFTER_ACTION
              }"
              *ngFor="let gamePlayer of gamePlayers"
          >
            {{gamePlayer.name}}
            <app-waitingdots *ngIf="gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION"></app-waitingdots>
        </ul>
      </div>
    </div>
  </div>
</div>
