<app-gameprogress parent="2" child="4"></app-gameprogress>
<br>
<div class="row" [hidden]="gamePlayers === undefined">  

  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>
  <div class="col-12 pb-3" *ngIf="isloggedInPlayerGivenSynonym === false">
    <div class="card">
      <div class="card-header">
        <strong>Second Guess</strong>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          Who might be a team and having the same word?
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Make sure prioritizing to guess you and your partner as team.
        </h6>

        <div class="card-text py-2 h6 text-center">
          <span *ngIf="selectedGamePlayers.length === 0">
            Select first player
          </span>
          <span *ngIf="selectedGamePlayers.length === 1">
            Select the second player
          </span>
          <span *ngIf="selectedGamePlayers.length === 2">
            Want to save choice?
          </span>
        </div>

        <div class="list-group">
          <div class="list-group-item list-group-item-light list-group-item-action">
              <div class="row text-center">
                  <div class="col-4 small">
                      &nbsp;
                  </div>
                  <div class="col-4 small">
                    1 Pass
                  </div>
                  <div class="col-4 small">
                    2 Pass
                  </div>
                </div>
          </div>
          <button id="guess_{{gamePlayer.name}}"
                  *ngFor="let gamePlayer of gamePlayers"
                  class="list-group-item list-group-item-action"
                  [ngClass]="{'active' : selectedGamePlayers.indexOf(gamePlayer) !== -1}"
                  (click)="onTeamPlayerGuessSelected(gamePlayer)"
          >
          <div class="row">
            <div class="col-4">
              <span>
                  {{gamePlayer.name}}
              </span>                
            </div>
            <div class="col-4">
                <span class="badge badge-info w-100">{{gamePlayer.firstSynonym}}</span>
            </div>
            <div class="col-4">
                <span class="badge badge-info w-100">{{gamePlayer.secondSynonym}}</span>
            </div>
          </div>
          
          </button>
        </div>

        <button id="saveGuessBtn"
                class="card-link btn btn-block btn-success mt-3"
                [disabled]="selectedGamePlayers.length < 2"
                (click)="saveTeamTip()"
        >
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Status of players</strong>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li id="status_{{gamePlayer.name}}"
              class="list-group-item"
              [ngClass]="{
              'list-group-item-action active' :
                gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION && isBlinkTickerShown$,
                'list-group-item-success' : gamePlayer.status === PLAYER_STATUS_AFTER_ACTION
              }"
              *ngFor="let gamePlayer of gamePlayers"
          >
            {{gamePlayer.name}}
            <app-waitingdots *ngIf="gamePlayer.status !== PLAYER_STATUS_AFTER_ACTION"></app-waitingdots>
        </ul>
      </div>
    </div>
  </div>
</div>
