<div class="list-group">
  <ng-container *ngFor="let game of games">
    <button id="gamename_{{game.name}}" type="button" (click)="onSelectGameToJoin(game)"
            class="list-group-item list-group-item-primary list-group-item-action container-fluid">
      <div class="row">
        <div class="col-6">
          <strong>
            {{game.name}}
          </strong>
        </div>
        <div class="col-6">
          <span i18n="@@joingame.created">created</span> {{game.createdAt |timeAgo}}
        </div>
      </div>
    </button>
    <!-- visualization hack, still needed?
    <div [hidden]="game !== -1">
      <app-waitingdots></app-waitingdots>
    </div>
    -->
  </ng-container>
</div>
