<div [hidden]="gamePlayers === undefined">
  <span id="savedResponseFlag" class="d-none" *ngIf="savedResponseFlag"></span>

  


  <div class="card" id="yourTurn" *ngIf="isPlayersTurnForAuthUser === false">
      
    <div class="card-text">
        
        <div class="progress" style="height: 2.5rem;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">              
              First<br>Password
            </div>
            <div class="progress-bar  bg-success" role="progressbar" style="width: 20%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
              First<br>Guess
            </div>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              Second<br>Password
            </div>
            <div class="progress-bar  bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              Second<br>Guess
            </div>
            <div class="progress-bar  bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                Exposure
            </div>
          </div>
    </div>
      <!--
      <span id="gameRulesLink" [hidden]="true" (click)="!acc.toggle('gameRulesPanel')"></span>
      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel id="gameRulesPanel">
            <ng-template ngbPanelTitle>Gamerules</ng-template>
            <ng-template ngbPanelContent>
              <app-ingameprogressrules></app-ingameprogressrules>
            </ng-template>
          </ngb-panel>
      </ngb-accordion>
      -->
    <div class="card-body">
        <div class="row">
          <div class="col-8">
              Waiting for <strong>{{currentPlayer?.name}}</strong> to give his 2. password.
          </div>          
          <div class="col-4 text-right">
              <img src="/assets/agent_small.jpg">
          </div>
        </div> 
        
    </div>    
  </div>

  <div class="card" id="yourTurn" *ngIf="isPlayersTurnForAuthUser === true">
    <div class="card-body text-center">
      <div class="row align-items-center">
        <div class="col-8">
            <h4 class="card-title">
                It's your turn!
              </h4>
        </div>
        <div class="col-4">
            <img src="/assets/whisper_small.jpg">
        </div>
      </div> 
      
      <div class="card-text">
        <form novalidate #giveSynonymForm="ngForm">
          <div class="form-group text-left">
            <label for="synonymTxt">
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord === '?'">
                <span class="badge badge-primary">
                  ?
                </span>
                Try to give a word, where people think you are partner of another one.
              </ng-container>
              <ng-container *ngIf="loggedInGamePlayer?.questionmarkOrWord !== '?'">
                Give first synonym for
                <span class="badge badge-primary">
                  {{loggedInGamePlayer?.questionmarkOrWord}}
                </span>
              </ng-container>
            </label>
            <div>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : synonymInput?.dirty && synonymInput.errors?.required}"
                id="synonymTxt" [(ngModel)]="synonym" #synonymInput="ngModel" name="synonym" required>
              <div *ngIf="synonymInput?.dirty && synonymInput.errors?.required">
                Provide your synonym
              </div>
            </div>
          </div>
          <button id="sendSynonym" class="btn btn-primary btn-block" [disabled]="synonymInput.invalid" (click)="sendSynonym()">
            Send
          </button>
          <div class="py-2">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card mt-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">
          <div class="row text-center">
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4 small">
                1. Password
            </div>
            <div class="col-4 small">
                2. Password
            </div>
          </div>
        </li>
        <li class="list-group-item" [ngClass]="{
              'list-group-item-action active' : gamePlayer === currentPlayer && show$,
              'list-group-item-success' : gamePlayer.status === NEXT_STATUS
              }" *ngFor="let gamePlayer of gamePlayers">
          <div class="row">
            <div class="col-4">
              {{gamePlayer.name}}
            </div>
            <div class="col-4">
              <span class="badge badge-info w-100">
                  {{gamePlayer.firstSynonym}}
              </span>                
            </div>
         
            <div class="col-4">
                <span class="text-center badge badge-info w-100" [hidden]="!gamePlayer.secondSynonym">
                    {{gamePlayer.secondSynonym}}
                </span>
                <!--
                <span class="text-center badge badge-danger w-100" [hidden]="gamePlayer.secondSynonym || gamePlayer !== currentPlayer">
                  action    
                </span>
                <span class="text-center badge badge-warning w-100" [hidden]="gamePlayer.secondSynonym || gamePlayer === currentPlayer">
                    waiting
                </span>
                -->
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>