.bg-topheader {
  background-color: rgba(0, 150, 255, 0.71);
  border-bottom: double #0096ff;
}

.hiddendev {
  color: white !important;
  background-color: greenyellow !important;  
}

[hidden]:not([broken]) {
  display: none !important;
}