<div>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg navbar-light bg-topheader">
    <a class="navbar-brand" href="#">
      <img src="assets/spy_icon.svg" style="width:2.5rem"> 
      <strong>LINP</strong>
      <span>Identify spies</span>
    </a>
    <ngb-alert [type]="'warning'"
               *ngIf="isUserAuthOfflane"
               (click)="isUserAuthOfflane=!isUserAuthOfflane">
      You are offlane
    </ngb-alert>
    <button class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngbCollapse]="isMenuCollapsed"
         id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"      
          (click)="isMenuCollapsed=!isMenuCollapsed"          
      >
        <li class="nav-item">
          <a id="welcome" class="nav-link" routerLink="/welcome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/createaccount">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/playerprofile">Player Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/gamerules">Game Rules</a>
        </li>
        <li class="nav-item">
          <a id="joingame" class="nav-link" style="color: #2A9FD6" routerLink="/joingame">Join Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/creategame">Create Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/gamelobby/{{gameName}}">Gamelobby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/preparegame/{{gameName}}">Prepare Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/firsttip/{{gameName}}">First Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/firstguess/{{gameName}}">First Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/secondtip/{{gameName}}">Second Tip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/secondguess/{{gameName}}">Second Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/evaluation/{{gameName}}">Evaluation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/finalizeround/{{gameName}}">Finalize Round</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #2A9FD6" routerLink="/createword/">Create Word</a>
        </li>
        <li class="nav-item">
          <a id="simulation" class="nav-link" style="color: #2A9FD6" routerLink="/simulation">Simulation</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class=" welcomebg">
    <div class="container" style="padding-top:2.0em; max-width: 450px;">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>

