<div class="container">
  <div class="row justify-content-center">
    <div class="col-1">
      <h1>
        LINP
      </h1>
    </div>
  </div>

  <div style="height: 100px">
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

  <div style="height: 100px">
  </div>

  <nav class="navbar fixed-bottom navbar-light bg-faded navbar-toggleable-md">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/welcome">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/startgame">Start Game</a>
      </li>
    </ul>
  </nav>

  <a class="navbar-brand" routerLink="/firsttip">First Tip</a>
  <a class="navbar-brand" routerLink="/firstguess">First Guess</a>
  <a class="navbar-brand"  routerLink="/secondtip">Second Tip</a>

</div>
